<%- include("partials/header.ejs") %>
    <body>
        <main>
            <h1 class="my-3">Cool Images from Pixabay</h1>
            <form action="/search">
                <input class="search-input" type="text" placeholder="Type keyword" name="keyword"/>
                <button class="search-button brn btn-primary">Search</button>
            </form>
            <hr>
            <img class="image" src='<%= imageUrl %>' width="200" height="200"/>
        </main>
<%- include("partials/footer.ejs") %>
    </body>
</html>